<h2>Gráfica de venta de carros por marca</h2>
<!-- Gráfica de carros -->
<div style="display: block;">
    <canvas baseChart width="500" height="200"
        [datasets]="lineChartData"
        [labels]="lineChartLabels"
        [options]="lineChartOptions"
        [colors]="lineChartColors"
        [legend]="lineChartLegend"
        [chartType]="lineChartType">
    </canvas>
</div>
