<!-- Contenido del dialogo para el logout -->
<h1 mat-dialog-title>Logout</h1>
<div mat-dialog-content>
  <p>¿Cerrar la sesión del usuario: <font class="primary-color">{{data.name}}</font>?</p>
</div>
<div mat-dialog-actions>
  <button mat-button color="warn" (click)="onNoClick()">Cancelar</button>
  <button mat-raised-button color="primary" mat-dialog-close="true">Aceptar</button>
</div>