table {
    width: 100%;
}
.tab-img-container{
    height: 100%; display: flex;
}
.tab-img {
    width: 45px;
    height: 45px;
    box-shadow: #b1b1b1 0px 0px 2px 1px;
    border-radius: 50%;
    margin: 10px 0px;
}
.tab-current-user{
    background-color: #f3f3f3;
}