<h2>Listado de usuarios</h2>
<div class="mat-elevation-z8">
  <!-- Tabla de material -->
  <table mat-table [dataSource]="dataSource">
    <!-- Columna del indice -->
    <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef> No. </th>
      <td mat-cell *matCellDef="let index = index"> {{index + 1 + (paginator._pageIndex * paginator._pageSize)}} </td>
    </ng-container>
    <!-- Columna de imagen -->
    <ng-container matColumnDef="image">
      <th mat-header-cell *matHeaderCellDef> Avatar </th>
      <td mat-cell *matCellDef="let element">
          <div class="tab-img-container">  
              <img class="tab-img" [src]="element.image" />
          </div> 
      </td>
    </ng-container>
    <!-- Columna de nombre -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Primer nombre </th>
      <td mat-cell *matCellDef="let element"> {{element.first_name}} </td>
    </ng-container>
    <!-- Columna de apellido -->
    <ng-container matColumnDef="lastName">
      <th mat-header-cell *matHeaderCellDef> Segundo nombre </th>
      <td mat-cell *matCellDef="let element"> {{element.last_name}} </td>
    </ng-container>
    <!-- Columna de email -->
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef> Email </th>
      <td mat-cell *matCellDef="let element"> {{element.email}} </td>
    </ng-container>
    <!-- Columna de genero -->
    <ng-container matColumnDef="gender">
      <th mat-header-cell *matHeaderCellDef> Género </th>
      <td mat-cell *matCellDef="let element"> {{element.gender}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" [class]="username == row.first_name ? 'tab-current-user' : ''"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[5]" showFirstLastButtons></mat-paginator>
</div>