@import '~@angular/material/theming';
@include mat-core();

// Custom theme de material
$evaluationApp-primary: mat-palette($mat-cyan, 900);
$evaluationApp-accent: mat-palette($mat-blue-grey, 500);
$evaluationApp-warn: mat-palette($mat-red, 900);

$evaluationApp-theme: mat-light-theme((
  color: (
    primary: $evaluationApp-primary,
    accent: $evaluationApp-accent,
    warn: $evaluationApp-warn,
  )
));

@include angular-material-theme($evaluationApp-theme);

// Custom theme de typography
$custom-typography: mat-typography-config(
  $font-family: 'Roboto, monospace',
  $headline: mat-typography-level(30px, 50px, 500),
  $body-1: mat-typography-level(14px, 24px, 400)
);
@include mat-base-typography($custom-typography);
@include mat-checkbox-typography($custom-typography);
@include angular-material-typography($custom-typography);


html, body { 
  height: 100%;
  margin: 0; 
  overflow-x: hidden;
  ::-webkit-scrollbar{
      width: 10px;
      height: 10px;
      background-color: none;
      z-index: 100;
  }
  ::-webkit-scrollbar-thumb{
      border-radius: 10px;
      --webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
      background-color: #425355cc;
  }
}

h3{
  font-weight: 700 !important;
  color: rgb(139, 139, 139);
  font-size: 17px !important;
}
h1{
  font-weight: 500 !important;
  color: rgb(126, 126, 126);
  font-size: 27px !important;
}
h2{
  color: #474747;
  font-weight: 500 !important;
  font-size: 20px !important;
}
.primary-color{
  color: #006064;
}
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}
