<mat-card>
    <div>
        <!-- Componente del login -->
        <h2>LOGIN</h2>
        <form [formGroup]="loginFormControl" (ngSubmit)="submitLogin()" style="display: flex;flex-direction: column;">
            <!-- Input de email con validaciones de form control -->
            <mat-form-field appearance="fill">
                <mat-label>Email</mat-label>
                <input name="email" matInput type="email" formControlName="email" placeholder="Ex. asd@example.com">
                <!-- Mensajes por posibles errores en las validaciones -->
                <mat-error *ngIf="loginFormControl.controls.email.hasError('email') && !loginFormControl.controls.email.hasError('required')">Ingresa un email valido.</mat-error>
                <mat-error *ngIf="loginFormControl.controls.email.hasError('required')">El email es<strong> requerido</strong>.</mat-error>
            </mat-form-field>
            <!-- Input de password con validaciones de form control -->
            <mat-form-field appearance="fill" style="margin-top: 10px;">
                <mat-label>Contraseña</mat-label>
                <input matInput [type]="hidePassword ? 'password' : 'text'" formControlName="password">
                <mat-icon class="noselect icon-btn" mat-icon-button matSuffix (click)="hidePassword = !hidePassword">{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                <!-- Mensajes por posibles errores en las validaciones -->
                <mat-error *ngIf="loginFormControl.controls.password.hasError('minlength') && !loginFormControl.controls.password.hasError('required')">La contraseña debe tener por lo menos 4 dígitos.</mat-error>
                <mat-error *ngIf="loginFormControl.controls.password.hasError('required')">La contraseña es<strong> requerida</strong>.</mat-error>
            </mat-form-field>
            <!-- Mensaje de error del servidor -->
            <div style="height: 35px;">
                <mat-error *ngIf="loginError" style="font-size: 12px;font-weight: normal;">Email o/y contraseña incorretas.</mat-error>
            </div>
            <div>
                <button mat-raised-button type="submit" color="primary" [disabled]="loginFormControl.invalid">Ingresar</button>
            </div>
        </form>
    </div>
</mat-card>