$tringleSize: 100vh;

.login-background{
    height: 100vh;
    background: linear-gradient(0deg, rgba(0,29,29,1) 3%, rgba(0,88,93,1) 33%, rgba(241,241,241,1) 89%);
}
.arrow-right {
    width: 0;
    height: 0;
    border-top: $tringleSize solid transparent;
    border-bottom: $tringleSize solid transparent;
    border-left: $tringleSize solid #ffffff30;
    position: fixed;
}
.arrow-left {
    width: 0; 
    height: 0;
    right: 0;
    border-top: $tringleSize solid transparent;
    border-bottom: $tringleSize solid transparent; 
    border-right: $tringleSize solid #ffffff30;
    position: fixed;
}
.login-title {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 15px;
}
.login-form-container{
    display: flex; 
    height: calc(100vh - 112px);
    align-items: center;
    justify-content: center;
    height: calc(100vh - 112px - 95px);
}
.login-form{
    width: 50%;
}