<div class="login-background">
    <!-- Tringulos de decoración -->
    <div>
        <div class="arrow-right"></div>
        <div class="arrow-left"></div>
    </div>
    <!-- Titulo -->
    <h1 class="login-title primary-color">Aplicación para la evalución Fron-end</h1>
    <mat-divider></mat-divider>
    <!-- Contenedor del formulario de login -->
    <div class="login-form-container">
        <div class="login-form">
            <app-login></app-login>
        </div>
    </div>
</div>