<div class="footer">
    <div class="footer-container">
        <div>
            Creado por 'Ricardo Pérez Valdivia' para la evaluación Fron-end
        </div>
        <div>
            Repositorio del proyecto <a target="_blank" href="https://gitlab.com/Ricazzt/umvel-front-end-evaluation">aqui</a>
        </div>
        <div>
            @{{currentYear}}
        </div>
    </div>
</div>
