.footer {
    position: absolute;
    z-index: 1;
}
.footer-container {
    height: 200px;
    background-color: #1c1c1c;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-size: 17px;
    width: 100vw;
}