<div>
    <!-- Titulo del dashboard-->
    <h1 class="dashboard-title">Bienvenido a la aplicación de EvaluationApp</h1>
    <mat-divider class="dashboard-divider"></mat-divider>
    <h2>Sobre su usuario</h2> 
    <!-- Datos de usuario -->
    <div class="profile-content">
        <mat-card class="card-profile">
            <div class="profile-img-container">
                <img class="profile-img" [src]="profileData.image"/>
            </div>
            <div class="profile-data-container">
                <div class="profile-data">Nombre:</div>
                <div class="profile-data">Email:</div>
                <div class="profile-data">Género:</div>
            </div>
            <div class="profile-data-container">
                <div class="profile-data2">{{profileData.first_name}}</div>
                <div class="profile-data2">{{profileData.last_name}}</div>
                <div class="profile-data2">{{profileData.gender}}</div>
            </div>
        </mat-card>
    </div>
    <mat-divider class="dashboard-divider dashboard-divider-section"></mat-divider>
    <h2>Secciones</h2>
    <!-- Iconos para acceder a las secciones de usuarios y grafica de carros -->
    <div class="section-content">
        <mat-card class="section-icon-container noselect" routerLink="/users">
            <mat-icon class="section-icon">people</mat-icon>
        </mat-card>
        <mat-card class="section-icon-container noselect" routerLink="/car-graph">
            <mat-icon class="section-icon">directions_car</mat-icon>
        </mat-card>
    </div>
</div>