.dashboard-title {
    color: #313131;
    text-align: center;
}
.dashboard-divider{
    margin: 20px 0px;
}
.dashboard-divider-section{
    margin-top: 40px;
}
.profile-content {
    display: flex; 
    width: 100%;
    justify-content: center;
    margin-bottom: 20px;
}
.card-profile {
    display: flex;
    width: 70%;
}
.profile-img-container {
    width: auto;
}
.profile-img {
    width: 200px;
    border-radius: 20px;
    border: solid #dbdbdb 2px;
}
.profile-data-container {
    width: 40%;
    // padding-left: 20px;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.profile-data {
    font-weight: 500;
    color: #757575;
    padding: 15px 0px 15px 4vw;
}
.profile-data2 {
    color: #2f2f2f;
    padding: 15px 0px 15px 4vw;
}
.section-content {
    display: flex;
    width: 100%;
    justify-content: space-around;
}
.section-icon {
    width: 200px;
    font-size: 200px;
    color: #7e7e7e;
}
.section-icon-container {
    cursor: pointer;
    outline: none;
}