$navbarHeight: 60px;
$paddingPage: 30px;
$sidebarWidth: 220px;

.main-container{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}
.navbar-style{
    position: fixed;
    height: $navbarHeight;
    width: calc(100vw - #{$sidebarWidth} - 10px);
    border-bottom: solid #cccccc 1px;
    background-color: white;
    z-index: 10;
}
.navbar-spacer {
    flex: 1 1 auto;
}
.sidebar-title{
    font-size: 20px;
    height: calc(#{$navbarHeight} - 1px);
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: solid #1d1d1d 1px;
    background-color: #003133;
    margin-bottom: 50px;
}
.sidebar-container {
    width: 100vw;
    height: 100vh;
}
.sidebar-style{
    min-width: $sidebarWidth;   
    background-color: #00373a;
    color: white;
}
.sidebar-page {
    overflow: auto;
    max-height: 100vh;
}
.sidebar-page-content {
    padding: calc(#{$paddingPage} + #{$navbarHeight})$paddingPage $paddingPage $paddingPage;
    min-height: calc(100vh - (#{$paddingPage} * 2) - #{$navbarHeight});
    min-width: 600px;
}
.login-page-content {
    height: 100vh;
    width: 100vw;
}
.sidenav-item{
    padding:30px;
    cursor: pointer;
    display: flex;
    align-items: center;
    outline: none;
}
.sidenav-item-selected{
    background-color: #002828;
}
.sidebar-item-name{
    padding-left: 10px;
}
.nav-username{
    margin: 0px 20px;
    cursor: pointer;
    outline: none;
}
.nav-margin{
    margin-left: 10px;
}
.nav-img{
    width: 40px;
    height: 40px;
    box-shadow: #b1b1b1 0px 0px 2px 1px;
    border-radius: 50%;
    cursor: pointer;
    outline: none;
}