<div class="main-container">
    <mat-drawer-container class="sidebar-container" hasBackdrop="false">
        <!-- Sidebar -->
        <mat-drawer #drawer mode="side" class="sidebar-style" disableClose="true" [opened]="storageService.isAuthenticated()">
            <div class="sidebar-title">
                <span>EvaluationApp</span>
            </div>
            <div *ngFor="let item of navItems; index as i" class="sidenav-item" [class.sidenav-item-selected]="item.route == router.url" [routerLink]="[item.route]">
                <mat-icon>{{item.icon}}</mat-icon>
                <font class="sidebar-item-name">{{item.name}}</font>
            </div>
        </mat-drawer>

        <mat-drawer-content class="sidebar-page">
            <!-- Toolbar -->
            <mat-toolbar *ngIf="storageService.isAuthenticated()" class="navbar-style">
                <h1>{{router.url | pageTitle}}</h1>
                <span class="navbar-spacer"></span>
                <img class="nav-img" [src]="storageService.getCurrentUserImage()" routerLink="/dashboard" />
                <span class="nav-username primary-color" routerLink="/dashboard">{{storageService.getCurrentUsername()}}</span>
                <button mat-icon-button matTooltip="Logout" class="nav-margin primary-color" (click)="openLogoutDialog()">
                    <mat-icon>logout</mat-icon>
                </button>
            </mat-toolbar>
            <!-- Contenido principal de la pagina -->
            <div [class]="storageService.isAuthenticated() ? 'sidebar-page-content' : 'login-page-content'">
                <ng-content></ng-content>
            </div>
            <!-- Loader component -->
            <app-loder></app-loder>
        </mat-drawer-content>
    </mat-drawer-container>
</div>
<app-footer></app-footer>